.row{
    div{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.df-npl{
    padding-left: 0px !important;
}
.df-npr{
    padding-right: 0px !important;
}
.df-input{
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #C5CBE0;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.5s !important;
    height: 56px;
    padding: 16px;
}

.df-select{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C5CBE0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: 0.5s !important;
    height: 56px;
    padding: 16px;
}
.df-inputSelect{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C5CBE0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.5s !important;
    height: 56px;
    padding: 16px;
}

.df-text{
    //font-family: Lato;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
    color: #494F66;
    margin-bottom: 16px;
}
.df-checkText{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #676F8F !important;
    width: 80%;
    & span{
        text-decoration: underline;
    }
    @media (min-width: 992px) {
        width: 90%;
    }
}

.df-button{
    background: #EF3340;
    border-radius: 8px;
    border: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    padding: 20px 64px;
    margin-top: 40px;
    @media (max-width: 767px) {
        margin-top: 16px;
        width: 100%;
    }
}

.form-check-input {
        border-color: #43B748 !important;
        transition: 0.5s;
        margin-top: 5px;
        margin-right: 12px;
    &:checked{
        background-color: #43B748 !important;
        border-color: #43B748 !important;
        transition: 0.5s;
    }
}

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #A3ABCC;
  }
