.ai-space{
    @media (min-width: 768px) {
        margin-bottom: 35px !important;
    }
}

.ai-switchItemR{
    @media (max-width: 767px) {
        position: absolute;
        z-index: 9;
        padding: 0px;
        right: 25px;
        margin-top: 10px;
    }
}

.d-back{
    padding: 0px !important;
    @media (min-width: 768px) {
        background-color: #F7F8FC;
        object-fit: cover;
        height: 100vh;
        padding: 8px;
    }
}

.d-backIco{
    margin-right: 15px;
    padding-bottom: 2px;
}

.d-backR{
    background-color: #F7F8FC;
    padding-top: 32px !important;
}

.d-borderBox{
    border: 3px solid #F0F2FA;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 24px !important;
}

.d-boxImg{
    height: 165px;
    position: absolute;
    top: 211px;
    margin-left: 167px;
    padding-left: 0px !important;
    @media (min-width: 768px) {
        height: 196px;
        top: 238px;
        margin-left: 180px;
    }
    @media (min-width: 992px) {
        height: 196px;
        top: 200px;
        margin-left: 310px;
    }
}

.d-boxText1{
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A3ABCC;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    @media (min-width: 768px) {
        margin-top: 16px !important;
    }
}

.d-boxText2{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #494F66;
    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 28px;
    }
}

.d-button{
    background: #EF3340 !important;
    border: 0px !important;
    font-weight: bold;
    color: #FFFFFF !important;
    padding: 16px 55px !important;
    margin-top: 0px !important;
    width: 100% !important;
    border-radius: 6px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.8px !important;
    @media (min-width: 768px){
        margin-top: 24px !important;
        border-radius: 8px !important;
        font-size: 14px !important;
        line-height: 16px !important;
    }
}

.d-changer{
    .MuiPaper-root{
        background-color: transparent !important;
        padding-left: 65px !important;
        padding-top: 35px;
        @media (min-width: 1200px) {
            padding-left: 120px !important;
        }
    }
    .MuiStepIcon-root.MuiStepIcon-active {
        color: #6F7DFF !important;
    }
    .MuiStepIcon-root.MuiStepIcon-completed {
        color: #6F7DFF !important;
    }
    .MuiStepLabel-label {
        color: #A3ABCC;
    }
    .MuiStepLabel-label.MuiStepLabel-active {
        color: #494F66;
    }
}

.d-dropdown-action1{
    
    @media (min-width: 768px) {
        margin-left: 50px;
        margin-top: 80px;
        position: absolute;
        z-index: 99;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: #6F7DFF;
        text-decoration: none !important;
        cursor: pointer;
        svg{
            color: #939DFF !important;
        }
        
    }
    @media (min-width: 992px) {
        margin-left: 77px;
        margin-top: 65px;
    }
    
}

.d-dropdown-action2{
    
    @media (min-width: 768px) {
        margin-left: 50px;
        margin-top: 80px;
        position: absolute;
        z-index: 99;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: #6F7DFF;
        text-decoration: none !important;
        cursor: pointer;
        svg{
            color: #939DFF !important;
        }
    }
    @media (min-width: 992px) {
        margin-left: 77px;
        margin-top: 100px;
    }
    
}

.d-dropdown-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #676F8F;
    text-align: justify;
}

.d-dropdown-title{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px !important;
    @media (min-width: 768px){
        font-size: 20px;
        line-height: 28px;
        color: #494F66;
        margin-bottom: 1rem !important;
    }
}

.d-ico{
    text-align: right;
    img{
        height: 66px;
    }
}

.d-icoDrop{
    @media (max-width: 991px){
        padding-left: 2px !important;
        padding-right: 2px !important;
        img{
            width: 100%;
        }
    }
}

.d-finishR{
    @media (max-width: 767px){
        position: fixed;
        width: 100%;
        bottom: 0px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 4px black;
        z-index: 10;
    }
}

.d-footer{
    border-top: 1px solid #E4E8F7;
}

.d-progressR1{
    width: 50%;
}

.d-progressR2{
    width: 1000%;
}

.d-separation{
    margin-top: 16px !important;
    @media (min-width: 768px) {
        margin-top: 48px  !important;
    }
}

.d-separationR{
    @media (max-width: 767px) {
        margin-top: 50px !important;
        border: 1px solid #F0F2FA;
    }
}

.d-SidesR{
    @media (max-width: 767px) {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}

.d-stepTextR{
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #676F8F !important;
    margin-bottom: 0px;
    text-decoration: none !important;
}

.d-tabsText{
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #494F66;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-left: 16px !important;
    @media (min-width: 768px){
        margin-top: 56px !important;
        padding-left: 0px !important;
    }
}

.d-textBack{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: #A3ABCC;
    text-decoration: none !important;
    &:hover{
        color: #A3ABCC !important;
        text-decoration: none !important;
    }
    cursor: pointer !important;
}

.d-text1{
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.6px;
    margin-bottom: 5px;
    color: #494F66;
    span{
        color: #EF3340;
    }
    @media (min-width: 768px) {
        font-size: 40px;
        line-height: 48px;
        margin-top: 28px !important;
    }
}

.d-text2{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #676F8F;
    margin-bottom: 0px;
    @media (min-width: 768px) {
        margin-bottom: 1rem;
    }
}

.d-text2b{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #676F8F;
    margin-bottom: 16px;
    @media (min-width: 768px) {
        margin-bottom: 1rem;
    }
}

.d-tipBoxR{
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 24px !important;
    margin-bottom: 40px !important;
}


.d-textBox{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: #494F66;
}

.d-textBox2{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #494F66;
    margin-bottom: 5px !important;
}

.d-textBox3{
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
    margin-bottom: 0px !important;
    @media (min-width: 768px) {
        margin-bottom: 4px !important;
    }
}

.d-textBox4{
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #676F8F;
    margin-bottom: 0px !important;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 1rem;
        text-transform: lowercase;
        letter-spacing: 0.2px;
        font-weight: normal;
    }
}

.d-tabsChanger{
    .MuiPaper-elevation4 {
        box-shadow: none !important;
    }
    .MuiAppBar-colorPrimary {
        background-color: transparent !important;
    }
    .MuiTabs-flexContainer{
        .MuiTab-root {
            min-width: 33.333% !important;
            width: 33.333% !important;
        }
        .MuiTab-textColorInherit.Mui-selected {
            font-weight: bold !important;
            font-size: 10px !important;
            line-height: 16px !important;
            letter-spacing: 0.8px !important;
            color: #EF3340 !important;
            opacity: 1;
        }
        .MuiTab-textColorInherit {
            font-weight: bold !important;
            font-size: 10px !important;
            line-height: 16px !important;
            letter-spacing: 0.8px !important;
            color: #494F66 !important;
            opacity: 1 !important;
        }
    }
    .PrivateTabIndicator-colorSecondary-7 {
        background-color: #EF3340 !important;
    }
    .PrivateTabIndicator-root-5 {
        width: 33.333% !important;
    }
    .MuiBox-root-9 {
        padding: 0px !important;
    }
    .MuiSvgIcon-root {
        color: #EF3340 ;
    }
    .MuiTypography-body1 {
        width: 100% !important;
    }
    .MuiAccordionSummary-root{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 16px;
        .MuiIconButton-edgeEnd {
            margin-right: 0px !important;
            position: relative !important;
            bottom: 40px !important;
        }
    }
    .MuiAccordion-rounded {
        padding: 0px !important;
        box-shadow: none !important;
        border-bottom: 1px solid #E4E8F7;
    }
    .MuiAccordionSummary-content {
        padding: 0px !important;
        margin: 0px !important;
    }
    .MuiAccordion-root:before {
            background-color: transparent;
    }
    .MuiCollapse-container{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        .MuiCollapse-wrapper{
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            .MuiCollapse-wrapperInner{
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                div{
                    padding-top: 0px !important;
                }
            }
        }
    }
    .MuiAccordionSummary-expandIcon{
        display: none;
        @media (min-width: 768px){
            display: block;
        }
    }
    .makeStyles-root-1{
        padding: 0px;
    }
}

.d-textBox5{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #676F8F;
    margin-bottom: 8px !important;
    svg{
        color: #43B748 !important;
        height: 15px !important;
    }
}

.d-textBoxImg{
    text-align: right;
    padding-right: 0px !important;
    img{
        width: 100%;
    }
}

.d-textBoxLink{
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #6F7DFF !important;
    text-decoration: none;
}

.d-textBoxLink2{
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #6F7DFF;
    text-decoration: none;
    padding-bottom: 16px !important;
    cursor: pointer !important;
    svg{
        color: #6F7DFF !important;
    }
    @media (min-width: 768px) {
        font-size: 12px;
        letter-spacing: 0.6px;
    }
}

.d-textBoxProps{
    border-top: 1px solid #E4E8F7;
}

.d-textBoxProps2{
    border-top: 1px solid #E4E8F7;
    padding-top: 24px !important;
}

.progress {
    display: flex;
    height: 6px !important;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 10px !important;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6F7DFF !important;
    transition: width .6s ease;
}

