.f-text{
    color: #A3ABCC;
    font-size: 12px;
    margin: 0px;
    text-align: left;
}
.f-back{
    background-color: transparent;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}